
.editor {
	width: 250px;
	height: 300px;
	margin: auto;
	margin-top: 50px;
	border: dashed 1px #ccc;
	position: relative;

	> div {
		width: 40%;
		height: 30%;
		background: blue;
		top: 50px;
		left: 75px;
		cursor: default;
		position: absolute;

		.resize, .remove {
			width: 20px;
			height: 20px;
			bottom: -10px;
			position: absolute;

			&.resize {
				right: -10px;
				background: green;
			}

			&.remove {
				left: -10px;
				background: red;
			}
		}
	}
}

input {
	display: block;
	margin: auto;
	margin-top: 20px;
}