.editor {
	width: 250px;
	height: 300px;
	margin: auto;
	margin-top: 50px;
	border: dashed 1px #ccc;
	position: relative;

	*, & {
		outline: none;
		-webkit-user-select: none;
		-webkit-user-drag: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-touch-callout: none;	
		-moz-user-select: none;
		-ms-user-select: none;
		-ms-touch-select: none;
		// No support for these yet, use at own risk
		-o-user-select: none;
		user-select: none;
		cursor: default;
	}

	> div {
		width: 40%;
		height: 30%;
		background: blue;
		top: 50px;
		left: 75px;
		cursor: default;
		position: absolute;

		.resize, .remove {
			width: 20px;
			height: 20px;
			bottom: -10px;
			position: absolute;
			border-radius: 10px;

			&.resize {
				right: -10px;
				background: green;
			}

			&.remove {
				left: -10px;
				background: red;
			}

			.touch & {
				width: 30px;
				height: 30px;
				bottom: -15px;
				border-radius: 15px;

				&.resize {
					right: -15px;
				}

				&.remove {
					left: -15px;
				}
			}
		}
	}
}

input {
	display: block;
	margin: auto;
	margin-top: 20px;
}

// For dev purpose
#debug {
	width: 250px;
	margin: auto;
}